<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <link rel="icon" href="https://im0-tub-by.yandex.net/i?id=d003fb1302cf947af32d6232c6e1065f-sr&n=13.ico"
          type="image/x-icon">

</head>
<body>
<div class="pagination">
    <table id="wrapper" border="1">
        <tr>
            <td class="head"> CREATE A NEW POST</td>
        </tr>
        <tr>
            <td>
                <form action="#" th:action="@{/create-post}" th:object="${newPost}" method="post">
                    Title:<br>
                    <input name="title" type="text"> <br><br>
                    Description:<br>
                    <input name="description" type="text"> <br><br>
                    Author name:<br>
                    <input name="authorName" type="text">

                    <input type="submit" value="CREATE">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>