<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:Title="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="icon" href="https://im0-tub-by.yandex.net/i?id=d003fb1302cf947af32d6232c6e1065f-sr&n=13.ico"
          type="image/x-icon">

</head>
<body link=#CECECE vlink=#D94C1A alink=#A4A68A bgcolor=black>
<div class="pagination">
    <table id="wrapper" border="1">
        <tr>
            <td class="head" colspan="6">
                <a th:href="@{/posts}"> POSTS</a>
                # <span th:text="${postToShow.title}"></span>
            </td>
        </tr>

        <tr>
            <th> Title:
            <td colspan="5" th:text="${postToShow.title}"></td>
            </th>
        </tr>
        <tr>
            <th style="border:1"> Description:
            <td colspan="5" th:text="${postToShow.description}"></td>
            </th>
        </tr>

        <tr th:each="comment:${foundComments}">
            <th width="60px" style="border:0">CommentId:
            <td width="30px" th:text="${comment.commentId}"></td>
            <br>
            <th width="100px" style="border:0">Author Name:
            <td width="100px" th:text="${comment.authorName}"></td>
            <br>
            <th width="60px" style="border:0">Message:
            <td width="350px" th:text="${comment.message}"></td>
            <br>
            </td>
        </tr>
    </table>

    <table border="1">
        <tr>
            <th width="7%">Rating:</th>
            <td style="border:0" th:text="${rating}"></td>

            <td style="border:0">
                <a th:href="@{/posts/{postId}/add(postId=${postToShow.postId})}">
                    <button style="background:#D94C1A">+</button>
                </a>

                <a th:href="@{/posts/{postId}/minus(postId=${postToShow.postId})}">
                    <button style="background:#D94C1A">-</button>
                </a>
            </td>
        </tr>
    </table>
    <tr>
        <td width="230px" style="border:0">
            <br>
            <span>Add comment form: </span>
            <br>
            <form action="#" th:action="@{/create-comment}" th:object="${commentCreate}" method="post">
                Author: <br> <input name="authorName" type="text">
                <br><br>
                Message: <br> <input name="message" type="text">
                <input name="postId" type="hidden" th:value="${foundPostId}">
                <input type="submit" value="ADD">
            </form>
        </td>
    </tr>


</div>
</body>
</html>